body
{
	background: #000;
	font-family: courier;
	color: #FFF;
}

a {
	color: #FFF;
	text-decoration: none;

	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}

a:hover {
	color: #880015;
}

.textCenter
{
	text-align: center;
}

.noBottomMargin
{
	margin-bottom: 0 !important;
}

.bannerContainer
{
	float: left;
	width: 67%;
	height: auto;
	margin-left: 3%;
	margin-top: 5%;
	overflow: hidden;
}

.rightSideContainer
{
	float: left;
	overflow: hidden;
	width: 77%;
}

.topRight
{
	float: right;
}

.bannerImage
{
	width: 100%;
	height: 100%;
}

.clearLeft
{
	clear: left;
}

.clearRight
{
	clear: right;
}

.clearBoth
{
	clear: both;
}

.floatLeft
{
	float: left;
}

.leftNav
{
	float: left;
	width: 21%;
	margin-left: 1.5%;
}

.leftNav .logoText
{
	color: #880015;
	font-size: 27px;
	font-weight: bold;
	border-bottom: 1px solid #FFF;
	padding-bottom: 10px;
	line-height: 200%;
	text-decoration: none;
}

.leftNav a:hover
{
	color: #FFF;
}

.leftNavMenu
{
	margin-top: 4%;
	color: #FFF;
}

.leftNavMenu ul
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.leftNavMenu ul li
{
	list-style: none;
}

.leftNavMenu ul li a
{
	text-decoration: none;
	float: left;
	color: #FFF;
	line-height: 200%;
	font-size: 20px;
	width:100%;
}

.leftNavMenu ul li a:hover
{
	color: #880015;
}

.leftNavMenu ul li a.selected
{
	color: #880015 !important;
}

.battleLogContainer
{
	width: 60%;
	margin: absolute;
	margin-top: 10px;
	height: 25%;
}

.battleLogDescription
{
	text-align: center;
	height:15%;
	padding: 0;
	margin: 0;
}

.battleLogPrompt
{
	border: 1px solid #FFF;
	height: 84%;
	overflow: hidden;
}

.battleLogPrompt div
{
	margin: 1%;
}

.battleLogPrompt div span
{
	line-height: 160%;
	font-size: 110%;
}

.playNowButton
{
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
	border: 1px solid #FFF;
	width: 10%;
	height: 5%;
}

.playNowButton:hover
{
	background: #880015;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
}

.italics
{
	font-style: italic;
}

.bold
{
	font-weight: bold;
}

#pageContent
{
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	color: #880015;
	margin-bottom: 5%;
}

#pageTitle
{
	text-align: center;
	margin-bottom: 1%;
	font-size: 22px;
	font-weight: bold;
}

.noTopMargin
{
	margin-top: 0px !important;
}

.autoWidth
{
	width: auto !important;
}

/*** SuperMOBs ***/
#superMobLeftNav
{
	float:left;
	border-right: 1px solid #FFF;
	padding-right: 1%;
	width: 19%;
	font-size: 75%;
}


#superMobLeftNav ul
{
	padding: 0 0 0 0;
	margin: 0 0 0 8%;
}

#superMobLeftNav ul li
{
	list-style: none;
}

#superMobLeftNav ul li a
{
	float: left;
	color: #880015;
	width: 100%;
	line-height: 25px;
	text-decoration: none;
}

#superMobLeftNav ul li a.selected
{
	color: #FFF !important;
}

#superMobLeftNav ul li a:hover
{
	color: #FFF;
}

#superMobDetailPanel
{
	float: left;
	width: 100%;
}

#superMobImage
{
	float: left;
	width: 17%;
}

#superMobDescription
{
	float: left;
	margin-left: 1%;
	width: 55%;
}

#superMobMap
{
	float: left;
	width: 27%;
}

#superMobEquipmentPanel
{
}

#superMobRightNav
{
	float:right;
	width: 79.5%;
}

#superMobEquipmentTable
{
	margin-top: 2%;
	width: 100%;
	clear: left;
	float: left;
}

#superMobEquipmentTable th
{
	font-weight: bold;
	text-align: left;
	font-size: 20px;
}

#superMobEquipmentTable td
{
	font-size: 14px;
	color: #FFF;
}

#superMobEquipmentTable .itemNameColumn
{
	width: 70%;
}

#superMobEquipmentTable .bodyLocationColumn
{
	width: 15%;
}

#superMobEquipmentTable .loadProbabilityColumn
{
	width: 15%;
}

#superMobLocation
{
	text-align: center;
	margin-bottom: 2%;
}



.userPortalContainer
{
	width: 80%;
	margin: auto;
}

.userSessionLink
{
	display: inline-block;
	width: 23%;
	text-align: center;
}

.userSessionLink + span:last-child
{
	display: none;
}

.homeContent
{
	width: 60%;
	margin: auto;
	margin-top: 1%;
}

.homeContent h1
{
	font-size: 20px;
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
}
