.productCodeInput {
	color: #202020;
	padding: 0px 4px 0px 4px;
	height: 20px;
	font-weight: bold;
}

.mainContent {
  width: 600px;
  margin: 0px auto 0px auto;
  float: left;
  width: 70%;
}

.mainContentTop {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#EEEEEE));
  background: -moz-linear-gradient(top,  #DDDDDD,  #EEEEEE);
}

.mainContentBottom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#EEEEEE));
  background: -moz-linear-gradient(top,  #DDDDDD,  #EEEEEE);
}

.mainContentInner {
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  min-height: 300px;
  padding: 15px;
}

.floatLeft {
  float: left;
}

.productAttributeLabel {
  width:200px;
  float:left;
  display: inline-block;
  font-weight: bold;
  line-height: 25px;
}

.productAttributeValue {
  display: inline-block;
  line-height: 25px;
}
