<Files *>
	Order Allow,Deny
	Allow from All
</Files>

RewriteEngine on

RewriteRule ^forums_old(.*)$ /forums [R=301,L,QSA]
RewriteRule ^oldforum(.*)$ /forums [R=301,L,QSA]
RewriteRule ^old_web/telnet.php(.*)$ /mudclient/mudclient.php$1 [R=301,L]
RewriteRule ^old_web(.*)$ / [R=301,L]

RewriteRule ^about-kinslayermud(.*)$		./AboutKinslayer.do$1 [QSA,L]

RewriteRule ^basic-commands(.*)$		./NewToMudsBasicCommands.do$1 [QSA,L]

RewriteRule ^character-classes(.*)$		./CharacterClasses.do$1 [QSA,L]
RewriteRule ^character-skills(.*)$		./CharacterSkills.do$1 [QSA,L]
RewriteRule ^classes-and-races(.*)$		./CharacterClasses.do$1 [QSA,L]
RewriteRule ^clients.php(.*)$			/$1 [QSA,L,R=301]
RewriteRule ^character.php(.*)$			/classes-and-races$1 [QSA,L,R=301]
RewriteRule ^connecting-to-the-game(.*)$	./NewToMudsConnecting.do$1 [QSA,L]
RewriteRule ^contact_us.php(.*)$		/$1 [QSA,L,R=301]
RewriteRule ^communicating-with-players(.*)$	/$1 [QSA,L,R=301]
RewriteRule ^creating-a-character(.*)$		./NewToMudsCharacterCreation.do$1 [QSA,L]

RewriteRule ^elements-of-a-room(.*)$		/$1 [QSA,L,R=301]
RewriteRule ^equipment-listing/armor/(.*)-(.*)$	./EquipmentCatalog.do?EquipmentListingType=0&ObjectWearType=$2 [QSA,L]
RewriteRule ^equipment-listing/armor(.*)$		./EquipmentCatalog.do?EquipmentListingType=0$1 [QSA,L]
RewriteRule ^equipment-listing/weapons/(.*)-(.*)$	./EquipmentCatalog.do?EquipmentListingType=1&ObjectWeaponType=$2 [QSA,L]
RewriteRule ^equipment-listing/weapons(.*)$			./EquipmentCatalog.do?EquipmentListingType=1$1 [QSA,L]
RewriteRule ^equipment-listing(.*)$					./EquipmentCatalog.do$1 [QSA,L]
RewriteRule ^equipment.php(.*)			/equipment-listing$1 [QSA,L,R=301]
RewriteRule ^eq_equipment_listing.php(.*)	/equipment-listing$1 [QSA,L,R=301]

RewriteRule ^feeding-and-eating(.*)$		/$1 [QSA,L,R=301]

RewriteRule ^gaining-experience-and-levels(.*)$	/$1 [QSA,L,R=301]
RewriteRule ^game-maps(.*)$			/$1 [QSA,L,R=301]
RewriteRule ^getting-started(.*)$		./getting_started.php$1 [QSA,L]

RewriteRule ^index.php(.*)$	/$1 [QSA,L,R=301]
RewriteRule ^introduction-to-mining(.*)$	./TradesMining.do$1 [QSA,L]
RewriteRule ^introduction-to-smithing(.*)$	./TradesSmithing.do$1 [QSA,L]
RewriteRule ^introduction-to-equipment(.*)$	./EquipmentIntroduction.do$1 [QSA,L]

RewriteRule ^help.php(.*)$			/ [QSA,L,R=301]

RewriteRule ^legends-introduction(.*)$		/ [QSA,L,R=301]
RewriteRule ^legends$				/ [QSA,L,R=301]
RewriteRule ^legends-weekly(.*)$		/ [QSA,L,R=301]
RewriteRule ^legends-monthly$			/ [QSA,L,R=301]
RewriteRule ^legends-yearly$			/ [QSA,L,R=301]
RewriteRule ^links.php(.*)$			/ [QSA,L,R=301]
RewriteRule ^logs.php(.*)$			/ [QSA,L,R=301]

RewriteRule ^mining-on-darkside(.*)$		/$1 [QSA,L,R=301]
RewriteRule ^mining-as-human(.*)$		/$1 [QSA,L,R=301]
RewriteRule ^mud.php(.*)			/about-kinslayermud$1 [QSA,L,R=301]
RewriteRule ^mud-applet(.*) 			/mud-client/mud-client.php$1 [QSA,L,R=301]
RewriteRule ^mud-clients(.*)$			/$1 [QSA,L,R=301]
RewriteRule ^moving-around(.*)$			/$1 [QSA,L,R=301]

RewriteRule ^namegen.php(.*)$			/$1 [QSA,L,R=301]
RewriteRule ^new-to-muds(.*)$			/$1 [QSA,L,R=301]
RewriteRule ^new_to_mud.php(.*)$		/$1 [QSA,L,R=301]

RewriteRule ^player-portal-login(.*)$			./PlayerPortalSignIn.do$1 [QSA,L]
RewriteRule ^player-portal-home(.*)$			./PlayerPortalHome.do$1 [QSA,L]
RewriteRule ^player-portal-sign-out(.*)$		./PlayerPortalSignOut.do$1 [QSA,L]
RewriteRule ^player-portal/view-user-logs(.*)$	./PlayerPortalViewUserLogs.do$1 [QSA,L]
RewriteRule ^player-portal-view-user-log/(.*)/(.*)$	./PlayerPortalViewUserLog.do?UserLogId=$1$2 [QSA,L]
RewriteRule ^player-portal/view-trophies(.*)$	./PlayerPortalViewTrophies.do$1 [QSA,L]
RewriteRule ^player-portal/view-login-history(.*)$	./PlayerPortalViewLoginHistory.do$1 [QSA,L]
RewriteRule ^player-portal/view-tell-history/(.*)$	./PlayerPortalViewTellHistory.do?PageNumber=$1 [QSA,L]
RewriteRule ^player-portal/view-tell-history(.*)$	./PlayerPortalViewTellHistory.do$1 [QSA,L]
RewriteRule ^player-portal(.*)$				./PlayerPortalSignInMenu.do$1 [QSA,L]
RewriteRule ^player-trades(.*)$				./TradesIntroduction.do$1 [QSA,L]

RewriteRule ^quickguide.php(.*)			/about-kinslayermud$1 [QSA,L,R=301]

RewriteRule ^ranger-skills/(.*)$		./character-skills?class_name=ranger&skill_name=$1 [QSA,L]
RewriteRule ^ranger-skills(.*)$			./character-skills?class_name=ranger$1 [QSA,L]
RewriteRule ^rules.php(.*)$			/about-kinslayermud$1 [QSA,L,R=301]

RewriteRule ^scumbait.php(.*)$			/ [QSA,L,R=301]
RewriteRule ^smithing-as-human(.*)$		/ [QSA,L,R=301]
RewriteRule ^smithing-on-darkside(.*)$		/ [QSA,L,R=301]
RewriteRule ^smob.php(.*)			/supermob-listing$1 [QSA,L,R=301]
RewriteRule ^smob_listing.php(.*)		/supermob-listing$1 [QSA,L,R=301]
RewriteRule ^supermob-listing(.*)$		./SuperMobListing.do$1 [QSA,L]

RewriteRule ^telnet.php(.*)				/mudclient/mudclient.php [QSA,L,R=301]
RewriteRule ^telnet/quickguide.php(.*)	/mudclient/mudclient.php [QSA,L,R=301]
RewriteRule ^thief-skills/(.*)$			./character-skills?class_name=thief&skill_name=$1 [QSA,L]
RewriteRule ^thief-skills(.*)$			./character-skills?class_name=thief$1 [QSA,L]
RewriteRule ^thief-skills(.*)$			./character-skills?class_name=thief$1 [QSA,L]
RewriteRule ^topkills.php(.*)$			/$1 [QSA,L,R=301]
RewriteRule ^trades.php(.*)			/player-trades$1 [QSA,L,R=301]
RewriteRule ^types-of-equipment(.*)$		./EquipmentTypes.do$1 [QSA,L]

RewriteRule ^warrior-skills/(.*)$		./classes-and-races$1 [QSA,L]
RewriteRule ^warrior-skills(.*)$		./classes-and-races$1 [QSA,L]
RewriteRule ^warrior-skills(.*)$		./classes-and-races$1 [QSA,L]
RewriteRule ^weapon-listing(.*)$		/equipment-listing/weapons [QSA,L,R=301]
RewriteRule ^weave-skills/(.*)$			./classes-and-races$1 [QSA,L]
RewriteRule ^weave-skills(.*)$			./classes-and-races$1 [QSA,L]
RewriteRule ^web-socket-client(.*)$		./WebSocketClient.do$1 [QSA,L]
RewriteRule ^what-is-a-mud(.*)$			/about-kinslayermud$1 [QSA,L,R=301]
RewriteRule ^what-is-a-supermob(.*)$		./SuperMobWhatIs.do$1 [QSA,L]
