<Files *>
	Order Allow,Deny
	Allow from All
</Files>

RewriteEngine on

RewriteCond %{HTTP_HOST} ^kinslayermud.org$		[NC]
RewriteRule ^(.*)$ http://www.kinslayermud.org/$1	[L,R=301]

RewriteRule ^forums/profile.php(.*)		/forums? [L,R=301]
RewriteRule ^forums/login.php(.*)		/forums? [L,R=301]
RewriteRule ^forums_old(.*)$ /forums? [R=301,L]
RewriteRule ^oldforum(.*)$ /forums? [R=301,L]
RewriteRule ^old_web/telnet.php(.*)$ /mudclient/mudclient.php? [R=301,L]
RewriteRule ^old_web(.*)$ /? [R=301,L]

RewriteRule ^about-kinslayermud(.*)$	./AboutKinslayer.do$1 [QSA,L]
RewriteRule ^admin/olist(.*)$			./Admin.OList.do$1 [QSA,L]

RewriteRule ^basic-commands(.*)$		./NewToMudsBasicCommands.do$1 [QSA,L]

RewriteRule ^character-classes(.*)$		./CharacterClasses.do$1 [QSA,L]
RewriteRule ^character-skills(.*)$		./CharacterSkills.do$1 [QSA,L]
RewriteRule ^classes-and-races(.*)$		./CharacterClasses.do$1 [QSA,L]
RewriteRule ^clients.php(.*)$			/? [L,R=301]
RewriteRule ^character_skills_ranger.php(.*)$	/classes-and-races? [L,R=301]
RewriteRule ^character.php(.*)$			/classes-and-races?$1 [L,R=301]
RewriteRule ^connecting-to-the-game(.*)$	./NewToMudsConnecting.do$1 [QSA,L]
RewriteRule ^contact_us.php(.*)$		/? [L,R=301]
RewriteRule ^communicating-with-players(.*)$	/? [L,R=301]
RewriteRule ^creating-a-character(.*)$		./NewToMudsCharacterCreation.do$1 [QSA,L]

RewriteRule ^elements-of-a-room(.*)$		/? [L,R=301]
RewriteRule ^equipment-listing/armor/(.*)-(.*)$	./EquipmentCatalog.do?EquipmentListingType=0&ObjectWearType=$2 [QSA,L]
RewriteRule ^equipment-listing/armor(.*)$		./EquipmentCatalog.do?EquipmentListingType=0$1 [QSA,L]
RewriteRule ^equipment-listing/weapons/(.*)-(.*)$	./EquipmentCatalog.do?EquipmentListingType=1&ObjectWeaponType=$2 [QSA,L]
RewriteRule ^equipment-listing/weapons(.*)$			./EquipmentCatalog.do?EquipmentListingType=1$1 [QSA,L]
RewriteRule ^equipment-listing(.*)$					./EquipmentCatalog.do$1 [QSA,L]
RewriteRule ^equipment.php(.*)			/equipment-listing? [L,R=301]
RewriteRule ^eq_equipment_listing.php(.*)	/equipment-listing? [L,R=301]
RewriteRule ^eq_weapon_listing.php(.*)	/equipment-listing? [L,R=301]

RewriteRule ^feeding-and-eating(.*)$		/? [L,R=301]
RewriteRule ^forums'(.*)$		/forums? [L,R=301]

RewriteRule ^gaining-experience-and-levels(.*)$	/? [L,R=301]
RewriteRule ^game-maps(.*)$			/? [L,R=301]
RewriteRule ^game_maps.php(.*)$			/? [L,R=301]
RewriteRule ^get-next-featured-mud-listing/(.*)$		./GetNextFeaturedMUDListing.do?FeaturedMUDListingID=$1 [QSA,L]
RewriteRule ^getting-started(.*)$		/?$1 [L,R=301]

RewriteRule ^help/(.*)$		./Help.ViewHelpFile.do?HelpFilePath=$1 [QSA,L]
RewriteRule ^help(.*)$		./Help.ViewHelpFile.do$1 [QSA,L]

RewriteRule ^index.php(.*)$	/$1 [QSA,L,R=301]
RewriteRule ^introduction-to-mining(.*)$	/? [L,R=301]
RewriteRule ^introduction-to-smithing(.*)$	/? [L,R=301]
RewriteRule ^introduction-to-equipment(.*)$	/? [L,R=301]

RewriteRule ^help.php(.*)$			/? [L,R=301]

RewriteRule ^legends-introduction(.*)$		/? [L,R=301]
RewriteRule ^legends$				/? [L,R=301]
RewriteRule ^legends.php(.*)$			/? [L,R=301]
RewriteRule ^legends-weekly(.*)$		/? [L,R=301]
RewriteRule ^legends-monthly$			/? [L,R=301]
RewriteRule ^legends-yearly$			/? [L,R=301]
RewriteRule ^links.php(.*)$			/? [L,R=301]
RewriteRule ^links2.php(.*)$			/? [L,R=301]
RewriteRule ^logs.php(.*)$			/? [L,R=301]

RewriteRule ^mining-on-darkside(.*)$		/? [L,R=301]
RewriteRule ^mining-as-human(.*)$		/? [L,R=301]
RewriteRule ^mud.php(.*)			/about-kinslayermud? [L,R=301]
RewriteRule ^mud-applet(.*) 			/mud-client/mud-client.php? [L,R=301]
RewriteRule ^mudclient/mudclient.php(.*)$	/mudclient/mudclient.html [L,QSA,R=301]
RewriteRule ^mud-clients(.*)$			/? [L,R=301]
RewriteRule ^moving-around(.*)$			/? [L,R=301]

RewriteRule ^namegen.php(.*)$			/? [L,R=301]
RewriteRule ^new-to-muds(.*)$			/? [L,R=301]
RewriteRule ^new_to_mud.php(.*)$		/? [L,R=301]
RewriteRule ^new_to_mud_character_creation.php(.*)$		/? [L,R=301]


RewriteRule ^player-portal-login(.*)$			./PlayerPortalSignIn.do$1 [QSA,L]
RewriteRule ^player-portal-home(.*)$			./PlayerPortalHome.do$1 [QSA,L]
RewriteRule ^player-portal-sign-out(.*)$		./PlayerPortalSignOut.do$1 [QSA,L]
RewriteRule ^player-portal/help-editor(.*)$		./PlayerPortalHelpEditor.do$1 [QSA,L]
RewriteRule ^player-portal/view-user-logs(.*)$	./PlayerPortalViewUserLogs.do$1 [QSA,L]
RewriteRule ^player-portal-view-user-log/(.*)/(.*)$	./PlayerPortalViewUserLog.do?UserLogId=$1$2 [QSA,L]
RewriteRule ^player-portal/view-trophies(.*)$	./PlayerPortalViewTrophies.do$1 [QSA,L]
RewriteRule ^player-portal/view-login-history(.*)$	./PlayerPortalViewLoginHistory.do$1 [QSA,L]
RewriteRule ^player-portal/view-tell-history/(.*)$	./PlayerPortalViewTellHistory.do?PageNumber=$1 [QSA,L]
RewriteRule ^player-portal/view-tell-history(.*)$	./PlayerPortalViewTellHistory.do$1 [QSA,L]
RewriteRule ^player-portal(.*)$				./PlayerPortalSignInMenu.do$1 [QSA,L]
RewriteRule ^player-trades(.*)$				./TradesIntroduction.do$1 [QSA,L]

RewriteRule ^quickguide.php(.*)			/about-kinslayermud? [L,R=301]

RewriteRule ^play(.*)$					/mudclient/mudclient.html [L,QSA]

RewriteRule ^ranger-skills/(.*)$		/? [L,R=301]
RewriteRule ^ranger-skills(.*)$			/? [L,R=301]
RewriteRule ^rules.php(.*)$			/about-kinslayermud? [L,R=301]

RewriteRule ^scumbait/(.*)$			/? [L,R=301]
RewriteRule ^smithing-as-human(.*)$		/? [L,R=301]
RewriteRule ^smithing-on-darkside(.*)$		/? [L,R=301]
RewriteRule ^smob.php(.*)			/supermob-listing? [L,R=301]
RewriteRule ^smob_listing.php(.*)		/supermob-listing? [L,R=301]
RewriteRule ^supermob-listing/(.*)-(.*)$	./SuperMobListing.do?MobPrototypeIdNew=$2 [QSA,L]		
RewriteRule ^supermob-listing(.*)$		./SuperMobListing.do$1 [QSA,L]
RewriteRule ^supermob_listing(.*)$		/supermob-listing? [L,R=301]

RewriteRule ^telnet.php(.*)				/mudclient/mudclient.php? [L,R=301]
RewriteRule ^telnet/quickguide.php(.*)	/mudclient/mudclient.php? [L,R=301]
RewriteRule ^thief-skills(.*)$			/? [L,R=301]
RewriteRule ^topkills.php(.*)$			/? [L,R=301]
RewriteRule ^trades.php(.*)			/? [L,R=301]
RewriteRule ^types-of-equipment(.*)$		./EquipmentTypes.do$1 [QSA,L]

RewriteRule ^users/(.*)$				./Users.ViewProfile.do?Username=$1 [QSA,L]

RewriteRule ^var/www-prod/supermob-listing(.*)$		/supermob-listing$1 [L,R=301]

RewriteRule ^warrior-skills/(.*)$		./classes-and-races$1 [QSA,L]
RewriteRule ^warrior-skills(.*)$		./classes-and-races$1 [QSA,L]
RewriteRule ^weapon-listing(.*)$		/equipment-listing/weapons? [L,R=301]
RewriteRule ^weave-skills/(.*)$			./classes-and-races$1 [QSA,L]
RewriteRule ^weave-skills(.*)$			./classes-and-races$1 [QSA,L]
RewriteRule ^web-socket-client(.*)$		./WebSocketClient.do$1 [QSA,L]
RewriteRule ^what-is-a-mud(.*)$			/about-kinslayermud? [L,R=301]
RewriteRule ^what-is-a-supermob(.*)$		./SuperMobWhatIs.do$1 [QSA,L]

