.helpContent
{
	color: #FFF;
	width: 100%;
}

.subcategories
{
	float: left;
	width: 20%;
}

.subcategoriesInner
{
	margin-left: 15%;
}

.subcategoriesInner .selectedCategory
{
	font-size: 20px;
	color: #D10020;
	display: inline-block;
	margin-bottom: 10px;
}

.subcategoriesInner .selectedCategory .underline
{
	border-bottom: 1px solid #FFF;
	margin-top: 5px;
}

.subcategoriesInner ul
{
	margin: 0 0 0 15px;
	padding: 0;
}

.subcategoriesInner ul li
{
	list-style: none;
	font-size: 18px;
}

.subcategoriesInner ul li a
{
	float: left;
	width: 100%;
	line-height: 150%;
}

h1.helpHeader
{
	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
}

.descriptionWrapper
{
	color: #FFF;
	width: 60%;
	overflow: hidden;
}

.descriptionWrapper a
{
	color: #3953FA;
}

.descriptionWrapper a:hover
{
	color: #D10020;
}


.description
{
	color: #D10020;
}