/*** Sign In ***/
#userPortalLoginForm
{
	width: 305px;
	margin:auto;
}

.userPortalInputField
{
	display: inline-block;
	margin-top: 15px;
}

.userPortalLoginButton
{
	font-size: 16px;
	background: #000;
	border: 1px solid #FFF;
	color: #FFF;
	padding: 5px 10px 5px 10px;
	text-align: center;
	display: block;
	font-weight: bold;
	width: 120px;
	margin: 10px auto 0px auto;
}

.userPortalLoginButton:hover
{
	color: red;
	background: #D10020;
	color: #000000;
	cursor: pointer;
}

#userPortalLoginForm ul
{
	color: #D10020 !important;
	font-weight: bold;
	margin-left: 0;
	padding-left: 0;
}


.userPortalContent a
{
	color: #3953FA;
}

.userPortalContent a:hover
{
	color: #D10020;
}

.userPortalContainer
{
	width: 80%;
}

.userPortalContainerInner
{
	padding: 20px;
	background-color: #111;
	border-radius: 7px;

	border: 1px solid #555;
}

.userPortalWelcome
{
	font-size: .9em;
	float: left;
}

.userPortalContentHeader
{
	font-weight: bold;
	overflow:hidden;
	text-align: center;
}

.userPortalContainerInner h2
{
	padding: 0;
	margin: 0;
}

ul.userPortalTopNav
{
	position: relative;
	top: 1px;
	margin: 0 0 0 1%;
	padding: 0;
	list-style: none;
}

ul.userPortalTopNav li
{
}

ul.userPortalTopNav li a
{
	float: left;
	background-color: #222;
	color: #FFF;

	border-radius: 10px 10px 0 0;
	padding: 5px 10px 5px 10px;
	font-size: 1.1em;
	border: 1px solid #555;
	border-right: none;
}

ul.userPortalTopNav li a:hover, ul.userPortalTopNav li a.selected
{
	color: #DB5C5C;
	border-radius: 15px 15px 0 0;
	background-color: #333;
	border-color: #874055;
}

ul.userPortalTopNav li:last-child a
{
	border-right: 1px solid #000;
}

table.userPortalTrophies
{
	margin-top: 2%;
	border: 1px solid #555;
	width: 100%;
}

table.userPortalTrophies th.victimName
{
	width: 15%;
}
table.userPortalTrophies th.time
{
	width: 27%;
}
table.userPortalTrophies th.weavePoints
{
	width: 13%;
}
table.userPortalTrophies th.partyMembers
{
	width: 45%;
}
table.userPortalTrophies td
{
	text-align: center;
}

/*** Login History ***/
table.userPortalLoginHistory
{
	margin-top: 2%;
	border: 1px solid #555;
	width: 100%;
}

table.userPortalLoginHistory td
{
	text-align: left;
	width: 33%;
}


/*** Tell History ***/
.tellHistoryPagination
{
	display: inline-block;
	text-align: center;
	width: 100%;
}

/*** User Logs ***/
table.userLogTable
{
	margin-top: 2%;
	border: 1px solid #555;
	width: 100%;
}

table.userLogTable td
{
	text-align: left;
	width: 33%;
}



/*** Start Help Editor ***/
#helpFileForm
{
	margin-top: 20px;
	width: 650px;
}

#helpFileEditor
{
	width: 500px;
	height: 300px;
	float: left;
}

#helpFileForm label
{
	display: inline-block;
	width: 150px;
}

#helpFileForm input,
#helpFileLoadForm input
{
	margin: 0;
	width: 488px;
	padding: 0px 5px 0px 5px;
	height: 24px;
	font-weight: bold;
	color: #FFF;
	background-color: #272822;
	outline: none;
	border: 1px solid #372822;
	border-radius: 3px;
}

#helpFileForm .formEntry
{
	margin-bottom: 20px;
}

#helpFileSaveButton
{
	display: block;
}

#helpFileId
{
	width: 150px !important;
}

#helpFileLoadForm
{
	padding-bottom: 20px;
	width: 100%;
	border-bottom: 1px solid #AAA;
}

#helpFileLoadButton,
#helpFileCreateNewButton
{
	font-size: 16px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#loadHelpFileError
{
	color: #D10020;
	font-size: 18px;
	font-weight: bold;
}

#helpFileForm
{
	width: 100%;
}

#helpFileEditor
{
	width: 100%;
}

#helpFileParentWrapper
{
	display: inline-block;
}

#helpFileNewParentIdInput
{
	width: 100px !important;
}

#helpFileChangeParentWrapper
{
	display: inline-block;
}

#helpFileForm > ul
{
	list-style: none;
	padding: 0;
	margin: 5px 0 10px 0;
	color: #D10020;
	font-weight: bold;
}
/*** End Help Editor ***/